---
layout: default
---
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset='utf-8' />
    <title>{{ site.title }}</title>
</head>
<body>
<section id="content">
{% for person in site.people %}
  <article class="{{ person.id }}">
    <a name="{{ person.fullname }}" href="#{{ person.id }}"><h2>{{ person.fullname }}</h2> {{ person.death_year }}</a>
    <section class="body">
      {% include iiif-image.html idno="TR-3021410" uuid=person.gedenkboek.uuid canvas=person.gedenkboek.page_img caption=person.fullname  region=person.gedenkboek.profile_photo %} 

      {{ person.fullname }} <br />
      {{ person.death_date}}
    </section>
  </article>
{% endfor %}
</section>
</body>
</html>